@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.manrope {
  font-family: "Manrope", sans-serif;
}
.btn-custom {
  background-color: #f2f2f2;
}
.btn-custom:hover {
  background-color: rgba(171, 239, 95, 1);
}
.arrow {
  background-color: rgba(171, 239, 95, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow:hover {
  background-color: black;
  color: #f2f2f2;
}
.btn-custom-light {
  background-color: #f2f2f2;
}

.btn-custom-light:hover {
  background-color: rgba(171, 239, 95, 0.5);
}
.lg-pink {
  background-color: rgba(231, 193, 211, 1);
}
.yellow {
  background-color: rgba(239, 218, 110, 1);
}

.gren {
  background-color: rgba(164, 218, 195, 1);
}
.blue {
  background-color: rgba(119, 170, 234, 1);
}
.boder {
  border: 1px solid rgba(233, 233, 233, 1);
}

/* ofice part  */
.white-bg {
  background-image: url(assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.black2 {
  background-color: rgba(28, 28, 28, 1);
}

.vblue {
  transition: filter 0.3s ease;
}
.vblue:hover {
  filter: brightness(0) saturate(100%) invert(58%) sepia(98%) saturate(500%)
    hue-rotate(137deg) brightness(100%) contrast(105%);
}
